body {
    margin: 0px;
    padding: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: 'Alumni Sans', sans-serif;
    background-color: #ffffff;
}

.logoBlock {
    height: 100px;
    background-color: #3f3f3f;
    font-size: 70px;
    font-family: 'Road Rage';
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}
.PBlogo {
    width: 305px;
    margin: 0px 0px 0px 50px;
}
.PBlogo a {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    color: white;
}
.logoIcons {
    width: 180px;
    margin: 0px 50px 0px 0px;
}
.logoIcons img {
    transition: transform 0.3s;
}
.logoIcons img:hover {
    -webkit-transform: scale()1.1;
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.iconSearch {
    width: 27%;
}
.iconRegistr {
    width: 28%;
}
.iconBag {
    width: 29%;
}
.capBlock {
    background-color: lightgrey;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 18px;
    font-family: 'Rubik';
}
.capBlock a {
    text-decoration: none;
    color: #2e2e2e;
    margin: 0px 50px 0px 0px;
}
.capBlock a:hover {
    color: #000000;
    font-weight: 900;
}
.menu {
    display: flex;
}
.headingBlock {
    width: 100%;
    text-align: center;
}
.headingBlock h1 {
    font-family: 'Rubik', sans-serif;
    margin: 20px 0px 0px 0px;
    font-size: 25px;
}
.content {
    font-family: 'Rubik', sans-serif;
    padding: 0px 100px 0px 100px;
    text-align: center;
}

.facebookRegistr {
    width: 30%;
    display: inline-block;
    text-align: center;
    font-size: 13px;
}
.facebookRegistr a {
    text-decoration: underline;
    color: #000;
}
.registrHelpHeading {
    font-size: 15px;
    font-weight: 600;
}
.facebookRegistr button {
    height: 40px;
    width: 180px;
    padding: 0;
    background-color: #3b5998;
    color: #ffffff;
    margin: 0px 0px 0px 20px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
}
.facebookRegistr button:hover {
    background-color: #5d75a7;
    font-weight: 500;
}
.orBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
.orBlock p {
    margin: 0px 20px 0px 20px;
}
.firstLine {
    height: 1px;
    width: 12%;
    background-color: lightgrey;
}
.secondLine {
    height: 1px;
    width: 12%;
    background-color: lightgrey;
}
.emailRegistr {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin: 20px 0px 0px 0px;
}
.emailRegistr h1 {
   font-size: 16px;
   font-weight: 600;
   margin: 0px 0px 30px 0px;
}
.emailRegistr h2 {
   font-size: 13px;
   font-weight: 600;
   text-align: left;
}
.emailRegistr h3 {
   font-size: 12px;
   text-align: left;
   font-weight: 100;
}
.levelinkBlock {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid lightgray;
    width: 700px;
}
.userInfo {
    width: 600px;
}
.userInfo select {
    height: 40px;
    width: 600px;
    padding: 10px;
    border: 1px solid lightgrey;
    margin: 0px 0px 10px 0px;
}
.userInfo input {
    height: 40px;
    width: 588px;
    border: 1px solid lightgrey;
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 0px 10px;
}
.lines {
    display: flex;
    margin: 0px 0px 0px 0px;
}
.lines p {
    width: 150px;
    font-size: 12px;
    margin: 0;
    text-align: left;
}
.lines select {
    height: 40px;
    width: 100px;
    padding: 10px;
    border: 1px solid lightgrey;
    margin: 0px 20px 0px 0px;
}
.daysScroll {
    max-height: 200px;
}
.yearScroll {
    max-height: 200px;
}
.passHint {
    margin: -8px 0px 24px 0px;
    font-size: 14px;
    text-align: left;
}
.alertsBlock {
    margin: 40px 0px 0px 0px;
    font-size: 13px;
    text-align: left;
}
.checkboxAlerts {
    display: flex;
    align-items: center;
    margin: 0px 0px 15px 0px;
}
.checkboxAlerts p {
    margin: 0px 0px 0px 10px;
}
input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin: 0;
}
.requirementLinks {
    text-align: end;
}
.requirementLinks a {
    color: #000;
}
.requirementLinks p {
    margin: 0px 0px 30px 0px;
}
.mainButtonRegistr {
    margin: 30px 0px 50px 0px;
    text-align: end;
}
.mainButtonRegistr button {
    height: 40px;
    width: 250px;
    padding: 0;
    background-color: #000000;
    color: #ffffff;
    margin-left: 0px;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
}
.mainButtonRegistr button:hover {
    background-color: #191919;
    font-weight: 500;
}






.endBlock {
    height: 400px;
    width: 100%;
    background-color: #3f3f3f;
}
.endBlockContent {
    padding: 50px 50px 0px 50px;
    font-family: 'Rubik', sans-serif;
    color: white;
    display: flex;
    justify-content: space-between;
}
.endBlockContent h1 {
    font-size: 17px;
    margin: 0px 0px 30px 0px;
}
.endBlockContent p {
    font-size: 14px;
}
.endBlockContent a {
    color: white;
    text-decoration: none;
}
.endBlockContent a:hover {
    text-decoration: underline;
}
.help {
    margin: 0px 0px 0px 0px;
}
.info {
    margin: 0px 0px 0px 40px;
}
.aboutUs {
    margin: 0px 0px 0px 40px;
}
.getNewsAndOffers {
    margin: 0px 0px 0px 180px;
    width: 330px;
}
.getNewsAndOffers h1 {
    width: 330px;
    margin: 0px 0px 12px 0px;
}

.registrationForm {
    height: 55px;
    display: flex;
    align-items: center;
    margin: 0px 0px 10px 0px;
}
.registrationForm input {
    height: 35px;
    width: 180px;
    border: none;
    text-transform: uppercase;
    font-size: 11px;
}
.registrationForm input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
.registrationForm button {
    height: 38px;
    width: 135px;
    padding: 0;
    background-color: #000;
    color: #fff;
    margin-left: -4px;
    border: none;
    text-transform: uppercase;
    font-size: 11px;
    cursor: pointer;
}
.registrationForm button:hover {
    background-color: #262626;
}
.instLogo {
    width: 11%;
    margin: 0px 10px 0px 0px;
}
.facebookLogo {
    width: 10%;
    margin: 0px 10px 0px 0px;
}
.twitterLogo {
    width: 11%;
    margin: 0px 10px 0px 0px;
}
.youtubeLogo {
    width: 9%;
    margin: 0px 10px 0px 0px;
}
.tikTokLogo {
    width: 11%;
}